<%- include('header') %>
<%- include('welcome', {username: username}) %>

<div>
    <h3>Items:</h3>

    <% listItems.forEach(function(item){ %>
    <form method="POST" action="/items/<%= listId %>/<%= item._id %>/save">
        <div>
            <label>Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="name" value="<%= item.name %>"><br/>
            <label>Quantity: &nbsp;</label>
            <input type="number" name="quantity" value="<%= item.quantity %>"><br/>
            <label>Comment:&nbsp;</label>
            <input type="text" name="comment" value="<%= item.comment %>"><br/>
            <input class="btn btn-success" type="submit" value="Save">
            <a href="/items/<%= listId %>/<%= item._id %>/del" class="btn btn-success" type="submit">Del</a>
        </div>
    </form><br/>
    <% }); %>

    <a class="btn btn-success btn-block btn-lg" href="/list/<%= listId %>">Back</a>
</div>

<%- include('footer') %>