<%- include('header') %>
<%- include('welcome') %>

<div>
    <h3>Items:</h3>

    <% listItems.forEach(function(item){ %>
    <form>
        <div>
            <input type="text" value="<%= item.name %>">
            <input type="text" value="<%= item.quantity %>">
            <input type="text" value="<%= item.comment %>">
            <input class="btn btn-success" type="submit" value="Save">
            <input class="btn btn-success" type="submit" value="Del">
        </div>
    </form>
    <% }); %>

    <a class="btn btn-success btn-block btn-lg" href="/lists">Back</a>
</div>

<%- include('footer') %>