<%- include('header') %>
<%- include('welcome') %>

<div>
    <div class="my-container">
        <h3>Your Shopping list:</h3>

        <% lists.forEach(function (item){ %>
        <div>
            <form class="my-form">
                <a class="col-md-2 col-xs-6 col-sm-3 my-link" href="/list/<%= item.id %>"><%= item.name %></a>
                <input type="submit" class="btn btn-success btn-sm" value="Del">
            </form>
        </div>
        <% }); %>

        <div class="clearfix"></div>
        <form class="my-form">
            <input class="col-md-2 col-xs-6 col-sm-3" type="text" value="+ Add new">
            <div class="clearfix"></div>
            <input type="submit" class="btn btn-success btn-sm add-list" value="Add">
        </form>
    </div>
</div>

<%- include('footer') %>