<%- include('header') %>
<%- include('welcome') %>

<div class="my-container">
    <h3>Items:</h3>
    <table class="table table-boarded ">
        <thead>
        <tr class="bg-success">
            <th class="my-name">Name</th>
            <th class="my-quantity">Quantity</th>
            <th class="my-comment">Comment</th>
        </tr>
        </thead>
        <tbody>

        <% listItems.forEach(function(item){ %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.quantity %></td>
            <td><%= item.comment %></td>
        </tr>
        <% }); %>

        </tbody>
    </table>
    <a class="btn btn-success btn-block btn-lg" href="items.ejs">Edit</a>
    <a class="btn btn-success btn-block btn-lg" href="/lists">Back</a>
</div>

<%- include('footer') %>